*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  --primary-dark-color: #191a19;
  --secondary-dark-color: #2e4c6d;
  --main-color: #099e58;
  --secondary-color: #16e7dd;
  --green-price-color: #66f115;
  --primary-gray-color: #f7f7f7;
  --secondary-gray-color: #a09e9e;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  max-width: 120rem;
}

#keyboard-container {
  max-width: 100rem;
}

button.key {
  font-family: monospace;
  font-size: 4rem;
  padding: 0.5em 0.75em;
  cursor: pointer;
}

.cell {
  display: inline-block;
  margin: 0.2rem;
  min-width: 8rem;
  min-height: 8rem;
  background-color: #f7f7f7;
  border: 2px solid black;
  border-radius: 0.5rem;
}
